/* Things that need to be hidden by default */
#place_template { display: none; }
#result_info	{ display: none; }
#analytics		{ display: none; }

/* Main feed design */
#places .media {
	min-height: 315px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #ccc;
}

#places .media-body {
	color: #fff;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px;
	margin: 125px 10px 10px 10px;
	border-radius: 5px;
}

#places .media-body ul {
	overflow: auto;
	list-style-type: disc;
}

#places .media-body ul li {
	margin-left: 25px;
}

#places small {
	color: #ccc;
}

/* Styles for the feed */
.fb-picture				{ min-width: 150px; max-width: 150px; }
.fb-visit-count			{ font-size: 200%; color: #ccc; padding: 5px; text-align: right; }
.fb-visit-count-person	{ font-size: 110%; color: #ccc; padding: 5px; }

/* Style address info */
.street-address:after 	{ content: ","; }
.locality:after 		{ content: ","; }

/* Checkin habits */
#analytics-checkin-habits 				{ font-size: 75%; }
#analytics-checkin-habits thead th 		{ text-align: center; }
#analytics-checkin-habits tbody th 		{ text-align: right; }
#analytics-checkin-habits tbody td 		{ vertical-align: middle; width: 24px; }
#analytics-checkin-habits .circle 		{ background-color: #000; margin: 0 auto; }
#analytics-checkin-habits .circle-100	{ width: 20px; height: 20px; border-radius: 50%; }
#analytics-checkin-habits .circle-75	{ width: 15px; height: 15px; border-radius: 50%; }
#analytics-checkin-habits .circle-50	{ width: 10px; height: 10px; border-radius: 50%; }
#analytics-checkin-habits .circle-25	{ width: 5px; height: 5px; border-radius: 50%; }
#analytics-checkin-habits .circle-0		{ width: 1px; height: 1px; border-radius: 50%; }

/* Analytics */
#analytics .filters						{ font-size: 75%; }
#analytics .filters .active 			{ font-weight: bold; }
