<% if @me %>
	<% @place_rels.each do |rel| %>
		<div class="placedata" data-place-id="<%= rel.target %>" data-friend-id="<%= rel.source %>"></div>
	<% end %>
<% else %>
	<p>Your user data hasn't loaded yet, so we have no idea if you have friends or not.</p>
<% end %>